@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    background: cornsilk;
    width: 100% !important;
    overflow-x: hidden !important;
}

nav {
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    z-index: 555;
    height: 70px;
}

nav ul li a {
    padding: 0px 10px;
    margin: 0 5px;
    font-size: 1.4rem;
    border-color: #00bfa6;
}

nav ul li a:hover {
    border-bottom: 1px solid #00bfa6;
}

#intro-left-svg {
    position: absolute;
    left: -100px;
    bottom: -80px;
    z-index: -10;
    opacity: 0.7;
}

#intro-left-svg #leaves {
    -webkit-animation: leaves 2s ease-in-out infinite alternate;
    animation: leaves 2s ease-in-out infinite alternate;
}

#intro-left-svg #leaves-bg {
    -webkit-animation: leaves-bg 2s ease-in-out infinite alternate;
    animation: leaves-bg 2s ease-in-out infinite alternate;
}

#not-found,
#debug-group {
    -webkit-animation: not-found 2s ease-in-out infinite alternate;
    animation: not-found 2s ease-in-out infinite alternate;
    -webkit-transform-origin: center;
    transform-origin: center;
}

#debug-group {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.dropdown-menu li a {
    font-size: 1rem;
}

.brand {
    font-family: "Fredoka", cursive;
}

.intro-left h3 {
    color: #00bfa6;
    font-weight: 600;
}

.intro-left h1 {
    font-weight: 800;
    font-family: "Times New Roman", Times, serif;
}

.intro-left .btn {
    border-radius: 40px;
    width: 140px;
    background-image: -webkit-gradient(linear, left top, right top, from(#4cb8c4), color-stop(51%, #3cd3ad), to(#4cb8c4));
    background-image: linear-gradient(to right, #4cb8c4 0%, #3cd3ad 51%, #4cb8c4 100%);
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    -webkit-box-shadow: 0 0 20px #eee;
    box-shadow: 0 0 20px #eee;
    display: block;
}

.intro-left .btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#services,
#home {
    width: 100vw;
}

#services .container {
    margin-top: 100px !important;
}

#services .container .card {
    border: none;
    border-radius: 10px;
    width: 90% !important;
    height: 100% !important;
    cursor: pointer;
    opacity: 0.8;
    -webkit-transition: 0.3s ease-in all;
    transition: 0.3s ease-in all;
}

#services .container .card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100% !important;
}

#services .container .card:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: rgba(26, 163, 145, 0.712) 0px 25px 50px -12px;
    box-shadow: rgba(26, 163, 145, 0.712) 0px 25px 50px -12px;
}

#services .container {
    position: relative;
}

.balloons {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    overflow: hidden;
    top: 0;
    left: 0;
}

.balloons .dark-balloon {
    position: absolute;
    bottom: -100px;
    left: 0;
    opacity: 0.5;
    -webkit-animation: rise 5s infinite ease-in;
    animation: rise 5s infinite ease-in;
}

.balloons .light-balloon {
    position: absolute;
    bottom: -100px;
    right: 100px;
    opacity: 0.5;
    -webkit-animation: rise 7s infinite ease-in;
    animation: rise 7s infinite ease-in;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

#numbers {
    width: 100vw !important;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(109, 196, 167, 0.568)), to(rgba(4, 184, 145, 0.603)));
    background-image: linear-gradient(to right, rgba(109, 196, 167, 0.568), rgba(4, 184, 145, 0.603));
}

#numbers i:hover {
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%);
}

#numbers i {
    color: #119e8b;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#numbers h3 {
    color: #8b8b8b;
    font-size: 2rem !important;
    font-weight: 700;
}

#numbers .counter {
    font-size: 1.5rem;
    font-weight: 600;
    color: #858585;
}

#get-started img {
    -webkit-transition: 1s all;
    transition: 1s all;
}

#get-started img:hover {
    cursor: pointer;
    -webkit-transform: translateY(-6%);
    transform: translateY(-6%);
}

#get-started h1 {
    font-weight: 900 !important;
}

#get-started .btn {
    border-radius: 40px;
    width: 140px;
    background-image: -webkit-gradient(linear, left top, right top, from(#4cb8c4), color-stop(51%, #3cd3ad), to(#4cb8c4));
    background-image: linear-gradient(to right, #4cb8c4 0%, #3cd3ad 51%, #4cb8c4 100%);
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    -webkit-box-shadow: 0 0 20px #eee;
    box-shadow: 0 0 20px #eee;
    display: block;
}

#get-started .btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#dedicated {
    margin: 150px 0 !important;
}

#dedicated h1 {
    font-weight: 600;
}