@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    background: cornsilk;
    width: 100% !important;
    overflow-x: hidden !important;
}

nav {
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    z-index: 555;
    height: 70px;
}

nav ul li a {
    padding: 0px 10px;
    margin: 0 5px;
    font-size: 1.4rem;
    border-color: #00bfa6;
}

nav ul li a:hover {
    border-bottom: 1px solid #00bfa6;
}